


<%= form_for @new_car do |f| %>
    <div class="row">
    <div class="col s3">
    <%= f.label  :name %>
    <%= f.text_field :name %>
    </div>
    <div class="col s3">

    <%=  f.label :year %> 
    <%= f.select( :year, @arr) %> 
    </div>

    <div class="col s3">

    <%= f.label :color %>
    <%= f.text_field :color %>
    </div>

    <div class="col s3">

    <%=  f.label :style %> 
    <%= f.select( :style, @styles) %> 
    </div>
    <div class="col s2">

    <%= f.label :company_id %>
    <%= f.collection_select(:company_id,Company.all,:id,:name) %>
    </div>
    <div class="col s2">

    <%= f.label :images %>
    <%= f.file_field :images, multiple: true %>
    </div>
    <div class="col s2">

    <%= f.submit %>
    </div>
    </div>
<% end%>
