<h1> information about Car</h1>
<label> name:</label>
<%= @info_car.name %>
<br>
<label> year:</label>
<%= @info_car.year%>
<br>
<label> color:</label>
<%= @info_car.color %>
<br>
<label> style:</label>
<%= @info_car.style %>
<br>

<% @info_car.images.each do |img| %>

 <a href=<%= image_path(img) %>>
 <%= image_tag  img.url, :class=>"img"%>
 </a>
 
<% end %>
<br>
<%= link_to "Edit", edit_car_path(@info_car) %>
<%= link_to "delete",car_path(@info_car), method: :delete %>
